// General partial imports
@import './stylePartials/setup';
@import './stylePartials/utils';

* {
  margin: 0;
  padding: 0;
}

label {
  display: none;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background: #000;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  color: lighten($highlight, 20%);
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
}

.subHeader {
  color: white;
}

h1 {
  padding-top: 20px;
  font-size: 7rem;
}

ul {
  list-style: none;
}

// HEADER

header {
  background: url('./assets/theatreSeats_web.jpg') center center;
  background-size: cover;
  min-height: 85vh;
}

.title {
  grid-column: 1 / -1;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

.searchSelect {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  margin-top: 30px;
}


.actor1,
.actor2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  flex-direction: column;

  & h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-start;
  }

  & input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;

  }

  & button {
    width: 100%;
    margin-bottom: 10px;
  }

  & .displayActor,
  & .noActor {
    flex-grow: 1;
  }

  &.up {
    justify-content: flex-start;
  }


}

.actor1 {
  grid-column: 1 / span 1;
}

.actor2 {
  grid-column: 3 / span 1;
}

button {
  background: #FFD23F;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  height: 50px;
}

.showMatches {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  padding: 15px;
  background: #4ECDC4;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  margin-top: 20px;
}

input {
  height: 50px;
}

.displayActor,
.noActor {
  display: flex;
  flex-wrap: wrap;
  background: $bglight;
  margin-top: 15px;
  padding: 15px;

  & h2 {
    width: 100%;
  }

  & h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: black;
  }

  & ul {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
  }

  & li {
    margin-bottom: 10px;
    text-align: left;
  }

  & .knownFor {
    width: 50%;

  }
}

.character {
  text-align: center;
}

.headShot,
.moviePoster {
  width: 50%;
}

.moviePoster {
  float: left;
  padding-right: 15px;
}

// DISPLAY MOVIES

.displayMovies {
  color: black;
}

.displayMoviesHeaders {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & h3 {
    text-align: center;
    background: $bglight;
    font-size: 3.5rem;
    padding: 10px 0;
    

  }
}

.movieLi {
  background: $bglight;
  padding: 20px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;

  & h2 {
    text-align: center;
    padding-bottom: 20px;
  }

  & .actor1,
  & .actor2 {
    align-self: flex-start;
  }
}

.noMovies {
  grid-column: 1 / span 3;
  
  & .movieTitle {
    color: black;
    font-size: 2rem;
  }
}

@import './stylePartials/mediaQueries';