// General partial imports
@import './stylePartials/setup';
@import './stylePartials/utils';

// Component imports
@import './components/SearchSelect/SearchSelect';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bglight;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  color: #C03221;
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

.headShot,
.moviePoster {
  width: 15%;
}

.movieLi {
  background: $bglight;
  padding: 20px;
  margin-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
