article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

label {
  display: none; }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background: #000; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3 {
  color: #cf3a3f;
  font-family: 'Fredoka One', cursive;
  font-weight: 400; }

.subHeader {
  color: white; }

h1 {
  padding-top: 20px;
  font-size: 7rem; }

ul {
  list-style: none; }

header {
  background: url("./assets/theatreSeats_web.jpg") center center;
  background-size: cover;
  min-height: 85vh; }

.title {
  grid-column: 1 / -1;
  text-align: center; }

h3 {
  font-size: 2rem; }

.searchSelect {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  margin-top: 30px; }

.actor1,
.actor2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  flex-direction: column; }
  .actor1 h2,
  .actor2 h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    align-self: flex-start; }
  .actor1 input,
  .actor2 input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px; }
  .actor1 button,
  .actor2 button {
    width: 100%;
    margin-bottom: 10px; }
  .actor1 .displayActor,
  .actor1 .noActor,
  .actor2 .displayActor,
  .actor2 .noActor {
    flex-grow: 1; }
  .actor1.up,
  .actor2.up {
    justify-content: flex-start; }

.actor1 {
  grid-column: 1 / span 1; }

.actor2 {
  grid-column: 3 / span 1; }

button {
  background: #FFD23F;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  height: 50px; }

.showMatches {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  padding: 15px;
  background: #4ECDC4;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  margin-top: 20px; }

input {
  height: 50px; }

.displayActor,
.noActor {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
  padding: 15px; }
  .displayActor h2,
  .noActor h2 {
    width: 100%; }
  .displayActor h3,
  .noActor h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: black; }
  .displayActor ul,
  .noActor ul {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 10px; }
  .displayActor li,
  .noActor li {
    margin-bottom: 10px;
    text-align: left; }
  .displayActor .knownFor,
  .noActor .knownFor {
    width: 50%; }

.character {
  text-align: center; }

.headShot,
.moviePoster {
  width: 50%; }

.moviePoster {
  float: left;
  padding-right: 15px; }

.displayMovies {
  color: black; }

.displayMoviesHeaders {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .displayMoviesHeaders h3 {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    font-size: 3.5rem;
    padding: 10px 0; }

.movieLi {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center; }
  .movieLi h2 {
    text-align: center;
    padding-bottom: 20px; }
  .movieLi .actor1,
  .movieLi .actor2 {
    align-self: flex-start; }

.noMovies {
  grid-column: 1 / span 3; }
  .noMovies .movieTitle {
    color: black;
    font-size: 2rem; }

@media (max-width: 800px) {
  .searchSelect {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .showMatches {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: 50px auto; }
  .searchSelect .actor1,
  .searchSelect .actor2 {
    margin: 0 10px; }
  .searchSelect .actor1 {
    grid-column: 1 / 2; }
  .searchSelect .actor2 {
    grid-column: 2 / 3; }
  .showMatches {
    font-size: 2rem; }
  .movieLi {
    grid-template-columns: 1fr; }
    .movieLi .actor1,
    .movieLi .actor2,
    .movieLi .movieLi {
      grid-column: 1 / span 1; }
    .movieLi .movieLi {
      order: 1; }
    .movieLi .actor1,
    .movieLi .actor2 {
      order: 2; }
    .movieLi h2 {
      padding-bottom: 0;
      padding-top: 20px; }
    .movieLi .movieTitle {
      padding-top: 0;
      padding-bottom: 20px; }
  .displayMoviesHeaders {
    display: none; } }

@media (max-width: 600px) {
  .displayActor .headShot {
    width: 100%;
    padding: 0 8vw; }
  .displayActor .knownFor {
    display: none; } }

@media (max-width: 500px) {
  h1 {
    font-size: 4rem; }
  .searchSelect {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
  .showMatches {
    grid-column: 1 / span 1;
    grid-row: 3;
    margin: 50px auto; }
  .searchSelect .actor1,
  .searchSelect .actor2 {
    margin: 0 10px; }
  .searchSelect .actor1 {
    grid-column: 1 / 2; }
  .searchSelect .actor2 {
    grid-column: 1 / 2; }
  .displayActor {
    margin-bottom: 30px; }
    .displayActor .headShot {
      width: 100%;
      padding: 0 30%; } }
